doctype html
html
  head
    title Umbrella Quizz!
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/assets/css/main.css')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Play')
  body
    section#sidebar
      .inner
        nav
          ul
            li
              a(href='#intro') Куда я попал?
            li
              a(href='#party') Участники
    #wrapper
      section#intro.wrapper.style1.fullscreen.fade-up
        .inner
          h1 Викторина
          p
            | Прими участие в розыгрыше крутого приза!
            | Найди в рабочем слаке бота @windbag, и напиши ему, он тебе все расскажет.
            | На всякий случай продублирую правила:
          ul.alt
            li
              | Если ответ подразумевает число/цифру писать только это число/цифру без указания чего-то еще (кг, м,
              | км, дней, детей).
            li
              | Если ответ подразумевает дробь, то выражать ее в строчку в виде десятичной дроби (0,1) с запятой.
            li
              | Если ответ подразумевает слово, писать слово с маленькой буквы, маленькими буквами.
            li Если ответ подразумевает букву, пиши только букву (символом).
            li
              | Розыгрыш представляет собой 10 задач: 4 на теорию вероятности, 2 на логику, 1 на эрудицию и 3 на
              | математический расчет.
          p
            | Удачи!
      section#party.wrapper.style1.fade-up
        .inner
          h2 Участники
          p Здесь можно увидеть участников, их статус и кол-во набранных баллов.
          .style1
            section
              .table-wrapper
                table
                  thead
                    tr
                      th Имя
                      th Статус
                      th Баллы
                  tbody
                    each user in list
                      tr
                        td= user.real_name
                        if (user.status === 'start')
                          td В процессе
                        if (user.status === 'finish')
                          td Закончил
                        if (user.status === 'wait')
                          td Пока не решился
                        if (user.status === 'finish')
                          td= user.a
                        else
                          td

    footer#footer.wrapper.style1-alt
      .inner
        ul.menu
          li © http://umbr.ml/
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44401879-6', 'auto');
      ga('send', 'pageview');

    script(src='/static/assets/js/jquery.min.js')
    script(src='/static/assets/js/jquery.scrollex.min.js')
    script(src='/static/assets/js/jquery.scrolly.min.js')
    script(src='/static/assets/js/skel.min.js')
    script(src='/static/assets/js/util.js')
    script(src='/static/assets/js/main.js')
